In [1]:
import pandas as pd
import numpy as np

In [2]:
car = pd.read_csv('Quikr_car.csv')

In [3]:
car.head()

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,"₹3,80,000","35,056 kms",Petrol,NaN,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,"₹4,65,000","44,000 kms",Petrol,NaN,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,"₹13,50,000","42,917 kms",Petrol,NaN,2018,Hyundai
3,3,Hyundai Venue - 2019,PLATINUM,Chennai,"₹10,19,699","16,112 kms",Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz - 2017,PLATINUM,Pune,"₹7,13,499","30,988 kms",Petrol,2nd Owner,2017,Honda

In [4]:
 car.drop("Unnamed: 0", axis=1, inplace=True)

In [5]:
car.head()

,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,"₹3,80,000","35,056 kms",Petrol,NaN,2015,Ford
1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,"₹4,65,000","44,000 kms",Petrol,NaN,2016,Maruti
2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,"₹13,50,000","42,917 kms",Petrol,NaN,2018,Hyundai
3,Hyundai Venue - 2019,PLATINUM,Chennai,"₹10,19,699","16,112 kms",Petrol,2nd Owner,2019,Hyundai
4,Honda Jazz - 2017,PLATINUM,Pune,"₹7,13,499","30,988 kms",Petrol,2nd Owner,2017,Honda

In [6]:
car.drop(["Label","Location","Owner"], axis=1, inplace=True)

In [7]:
car.head(2)

,Name,Price,Kms_driven,Fuel_type,Year,Company
0,Ford Figo Duratec Petrol EXI 1.2 - 2015,"₹3,80,000","35,056 kms",Petrol,2015,Ford
1,Maruti Suzuki Wagon R VXI BS IV - 2016,"₹4,65,000","44,000 kms",Petrol,2016,Maruti

In [8]:
car.shape

(1032, 6)

In [9]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1032 non-null   object
 1   Price       1032 non-null   object
 2   Kms_driven  1032 non-null   object
 3   Fuel_type   1032 non-null   object
 4   Year        1032 non-null   int64
 5   Company     1032 non-null   object
dtypes: int64(1), object(5)
memory usage: 48.5+ KB

In [10]:
car['Kms_driven'].unique()

array(['35,056 kms ', '44,000 kms ', '42,917 kms ', '16,112 kms ',
       '30,988 kms ', '69,163 kms ', '42,859 kms ', '34,919 kms ',
       '44,940 kms ', '13,687 kms ', '29,848 kms ', '21,426 kms ',
       '68,177 kms ', '70,650 kms ', '25,730 kms ', '47,096 kms ',
       '1,31,000 kms ', '26,000 kms ', '58,460 kms ', '48,000 kms ',
       '26,600 kms ', '36,000 kms ', '39,500 kms ', '76,000 kms ',
       '23,698 kms ', '37,860 kms ', '91,830 kms ', '31,172 kms ',
       '3,243 kms ', '9,616 kms ', '30,249 kms ', '60,875 kms ',
       '25,740 kms ', '38,587 kms ', '3,108 kms ', '35,353 kms ',
       '34,748 kms ', '2,359 kms ', '17,814 kms ', '68,934 kms ',
       '72,600 kms ', '81,000 kms ', '80,000 kms ', '12,000 kms ',
       '6,000 kms ', '56,000 kms ', '15,840 kms ', '32,482 kms ',
       '1,13,779 kms ', '26,150 kms ', '34,555 kms ', '30,880 kms ',
       '70,423 kms ', '30,232 kms ', '50,077 kms ', '18,482 kms ',
       '10,246 kms ', '25,021 kms ', '70,646 kms ', '45,490 kms ',
       '53,306 kms ', '29,000 kms ', '1,10,000 kms ', '95,000 kms ',
       '1,70,000 kms ', '58,000 kms ', '22,000 kms ', '69,215 kms ',
       '33,340 kms ', '9,783 kms ', '15,110 kms ', '3,399 kms ',
       '89,310 kms ', '53,148 kms ', '42,020 kms ', '74,594 kms ',
       '6,110 kms ', '24,346 kms ', '65,668 kms ', '48,644 kms ',
       '36,877 kms ', '79,673 kms ', '54,352 kms ', '64,000 kms ',
       '54,000 kms ', '40,000 kms ', '1,07,000 kms ', '38,000 kms ',
       '86,000 kms ', '10,000 kms ', '48,658 kms ', '11,998 kms ',
       '32,513 kms ', '21,372 kms ', '34,178 kms ', '20,547 kms ',
       '34,731 kms ', '30,536 kms ', '10,205 kms ', '25,483 kms ',
       '39,113 kms ', '43,152 kms ', '5,325 kms ', '44,705 kms ',
       '70,022 kms ', '47,435 kms ', '89,000 kms ', '9,826 kms ',
       '83,000 kms ', '1,95,000 kms ', '35,000 kms ', '13,000 kms ',
       '46,000 kms ', '72,000 kms ', '29,026 kms ', '59,258 kms ',
       '1,20,399 kms ', '28,853 kms ', '9,811 kms ', '43,538 kms ',
       '66,400 kms ', '59,341 kms ', '56,246 kms ', '35,944 kms ',
       '17,699 kms ', '41,065 kms ', '2,311 kms ', '2,991 kms ',
       '29,762 kms ', '91,917 kms ', '0 kms ', '85,000 kms ',
       '37,000 kms ', '67,000 kms ', '1,20,000 kms ', '71,000 kms ',
       '1,05,000 kms ', '30,771 kms ', '29,488 kms ', '36,559 kms ',
       '38,242 kms ', '66,426 kms ', '16,950 kms ', '18,866 kms ',
       '53,245 kms ', '44,543 kms ', '50,128 kms ', '56,349 kms ',
       '69,524 kms ', '41,218 kms ', '9,085 kms ', '11,292 kms ',
       '75,000 kms ', '28,000 kms ', '51,000 kms ', '24,990 kms ',
       '48,600 kms ', '3,600 kms ', '1,15,000 kms ', '29,594 kms ',
       '55,953 kms ', '16,980 kms ', '41,828 kms ', '64,803 kms ',
       '44,460 kms ', '14,276 kms ', '23,425 kms ', '23,056 kms ',
       '16,102 kms ', '56,615 kms ', '70,317 kms ', '6,760 kms ',
       '8,870 kms ', '78,209 kms ', '64,292 kms ', '57,000 kms ',
       '42,000 kms ', '1,41,000 kms ', '82,000 kms ', '1,17,000 kms ',
       '70,000 kms ', '89,450 kms ', '58,771 kms ', '53,266 kms ',
       '9,200 kms ', '61,721 kms ', '18,333 kms ', '51,780 kms ',
       '30,854 kms ', '24,680 kms ', '85,663 kms ', '20,541 kms ',
       '64,182 kms ', '58,819 kms ', '32,057 kms ', '18,403 kms ',
       '7,877 kms ', '15,509 kms ', '15,000 kms ', '62,000 kms ',
       '1,34,500 kms ', '63,896 kms ', '90,000 kms ', '48,329 kms ',
       '21,301 kms ', '34,566 kms ', '34,297 kms ', '1,19,571 kms ',
       '27,957 kms ', '27,210 kms ', '21,610 kms ', '40,902 kms ',
       '11,057 kms ', '72,505 kms ', '31,338 kms ', '28,674 kms ',
       '25,416 kms ', '14,765 kms ', '60,380 kms ', '73,000 kms ',
       '55,000 kms ', '79,950 kms ', '19,775 kms ', '28,495 kms ',
       '28,344 kms ', '10,801 kms ', '4,365 kms ', '50,866 kms ',
       '24,230 kms ', '64,275 kms ', '8,924 kms ', '12,208 kms ',
       '26,956 kms ', '12,223 kms ', '23,960 kms ', '33,687 kms ',
       '24,887 kms ', '74,000 kms ', '45,000 kms ', '41,000 kms ',
       '52,000 kms ', '61,000 kms ', '20,000 kms ', '71,423 kms ',
       '34,095 kms ', '32,658 kms ', '33,166 kms ', '31,284 kms ',
       '66,090 kms ', '51,295 kms ', '48,693 kms ', '36,626 kms ',
       '55,752 kms ', '49,341 kms ', '60,251 kms ', '22,269 kms ',
       '38,999 kms ', '29,110 kms ', '14,506 kms ', '60,000 kms ',
       '1,08,252 kms ', '88,000 kms ', '29,115 kms ', '34,763 kms ',
       '12,500 kms ', '1,24,000 kms ', '78,000 kms ', '44,696 kms ',
       '33,004 kms ', '46,034 kms ', '60,307 kms ', '8,825 kms ',
       '5,743 kms ', '87,000 kms ', '19,500 kms ', '65,000 kms ',
       '35,623 kms ', '1,60,000 kms ', '98,500 kms ', '25,735 kms ',
       '37,522 kms ', '38,955 kms ', '40,664 kms ', '65,308 kms ',
       '30,467 kms ', '1,954 kms ', '35,220 kms ', '75,876 kms ',
       '27,020 kms ', '13,739 kms ', '21,544 kms ', '13,816 kms ',
       '23,817 kms ', '60,985 kms ', '30,123 kms ', '26,123 kms ',
       '60,123 kms ', '52,123 kms ', '11,123 kms ', '41,233 kms ',
       '50,141 kms ', '86,033 kms ', '30,000 kms ', '86,924 kms ',
       '68,870 kms ', '22,292 kms ', '44,013 kms ', '96,250 kms ',
       '59,839 kms ', '49,693 kms ', '22,223 kms ', '8,030 kms ',
       '38,780 kms ', '31,919 kms ', '47,564 kms ', '42,836 kms ',
       '27,000 kms ', '6,90,000 kms ', '1,45,000 kms ', '1,35,000 kms ',
       '50,488 kms ', '12,916 kms ', '30,731 kms ', '21,627 kms ',
       '5,580 kms ', '41,371 kms ', '42,313 kms ', '74,913 kms ',
       '74,760 kms ', '34,045 kms ', '1,43,147 kms ', '28,149 kms ',
       '38,049 kms ', '78,895 kms ', '27,027 kms ', '66,000 kms ',
       '47,000 kms ', '82,650 kms ', '23,940 kms ', '26,678 kms ',
       '41,342 kms ', '59,614 kms ', '39,550 kms ', '28,621 kms ',
       '60,437 kms ', '26,598 kms ', '62,723 kms ', '21,145 kms ',
       '48,699 kms ', '10,102 kms ', '34,881 kms ', '53,997 kms ',
       '49,076 kms ', '65,951 kms ', '1,16,000 kms ', '1,36,000 kms ',
       '63,000 kms ', '15,032 kms ', '15,575 kms ', '1,47,819 kms ',
       '35,203 kms ', '7,597 kms ', '34,883 kms ', '59,580 kms ',
       '49,647 kms ', '67,577 kms ', '10,890 kms ', '57,444 kms ',
       '33,598 kms ', '17,804 kms ', '62,613 kms ', '56,974 kms ',
       '1,405 kms ', '8,000 kms ', '1,18,000 kms ', '23,000 kms ',
       '34,000 kms ', '36,965 kms ', '25,526 kms ', '20,235 kms ',
       '61,064 kms ', '12,558 kms ', '14,179 kms ', '20,379 kms ',
       '42,837 kms ', '67,473 kms ', '27,576 kms ', '80,900 kms ',
       '1,00,934 kms ', '29,060 kms ', '36,129 kms ', '1,56,442 kms ',
       '48,710 kms ', '97,000 kms ', '77,000 kms ', '20,619 kms ',
       '51,149 kms ', '12,978 kms ', '40,025 kms ', '63,075 kms ',
       '78,724 kms ', '12,257 kms ', '26,890 kms ', '20,485 kms ',
       '69,220 kms ', '41,900 kms ', '11,944 kms ', '66,143 kms ',
       '16,563 kms ', '14,460 kms ', '47,120 kms ', '79,200 kms ',
       '48,877 kms ', '32,000 kms ', '14,000 kms ', '79,000 kms ',
       '1,47,960 kms ', '38,766 kms ', '8,409 kms ', '20,718 kms ',
       '51,125 kms ', '64,459 kms ', '29,467 kms ', '18,019 kms ',
       '40,710 kms ', '1,956 kms ', '21,531 kms ', '20,989 kms ',
       '33,901 kms ', '54,696 kms ', '50,000 kms ', '53,000 kms ',
       '1,49,000 kms ', '27,317 kms ', '79,784 kms ', '73,656 kms ',
       '27,664 kms ', '41,898 kms ', '4,889 kms ', '39,836 kms ',
       '16,108 kms ', '46,111 kms ', '23,761 kms ', '1,46,782 kms ',
       '26,597 kms ', '12,323 kms ', '3,230 kms ', '62,059 kms ',
       '28,188 kms ', '49,000 kms ', '39,226 kms ', '32,877 kms ',
       '17,283 kms ', '17,419 kms ', '24,416 kms ', '26,700 kms ',
       '28,979 kms ', '27,150 kms ', '3,195 kms ', '26,761 kms ',
       '71,992 kms ', '27,239 kms ', '36,244 kms ', '69,807 kms ',
       '31,803 kms ', '92,373 kms ', '2,00,000 kms ', '1,79,000 kms ',
       '59,000 kms ', '59,612 kms ', '30,212 kms ', '18,113 kms ',
       '48,435 kms ', '29,297 kms ', '53,525 kms ', '15,890 kms ',
       '31,694 kms ', '36,279 kms ', '33,349 kms ', '1,03,182 kms ',
       '63,048 kms ', '26,358 kms ', '18,932 kms ', '20,369 kms ',
       '58,769 kms ', '1,55,000 kms ', '1,23,920 kms ', '17,900 kms ',
       '31,041 kms ', '61,875 kms ', '29,210 kms ', '35,826 kms ',
       '29,364 kms ', '16,304 kms ', '95,731 kms ', '31,011 kms ',
       '30,601 kms ', '14,568 kms ', '89,559 kms ', '48,834 kms ',
       '74,190 kms ', '43,077 kms ', '99,000 kms ', '88,500 kms ',
       '16,000 kms ', '17,981 kms ', '20,780 kms ', '56,719 kms ',
       '31,108 kms ', '33,611 kms ', '43,700 kms ', '49,920 kms ',
       '57,338 kms ', '23,096 kms ', '48,732 kms ', '67,924 kms ',
       '30,418 kms ', '50,593 kms ', '1,36,381 kms ', '46,943 kms ',
       '36,277 kms ', '5,600 kms ', '1,50,000 kms ', '70,359 kms ',
       '42,205 kms ', '60,539 kms ', '16,533 kms ', '26,596 kms ',
       '30,912 kms ', '17,951 kms ', '36,928 kms ', '22,854 kms ',
       '89,156 kms ', '41,999 kms ', '66,145 kms ', '29,157 kms ',
       '33,882 kms ', '29,379 kms ', '17,352 kms ', '16,189 kms ',
       '41,341 kms ', '19,000 kms ', '91,000 kms ', '13,486 kms ',
       '33,562 kms ', '13,691 kms ', '31,980 kms ', '69,526 kms ',
       '21,492 kms ', '47,425 kms ', '40,988 kms ', '51,983 kms ',
       '69,376 kms ', '33,094 kms ', '26,237 kms ', '42,415 kms ',
       '1,12,308 kms ', '61,427 kms ', '59,888 kms ', '58,492 kms ',
       '75,691 kms ', '84,301 kms ', '38,346 kms ', '41,530 kms ',
       '23,049 kms ', '74,510 kms ', '20,141 kms ', '85,860 kms ',
       '63,133 kms ', '71,894 kms ', '95,627 kms ', '75,324 kms ',
       '64,611 kms ', '77,128 kms ', '36,306 kms ', '83,803 kms ',
       '1,08,000 kms ', '700 kms ', '25 kms ', '258 kms ', '81,152 kms ',
       '75,398 kms ', '42,317 kms ', '60,214 kms ', '58,861 kms ',
       '27,995 kms ', '61,018 kms ', '67,109 kms ', '81,811 kms ',
       '27,357 kms ', '53,293 kms ', '45,260 kms ', '3,139 kms ',
       '44,690 kms ', '13,858 kms ', '25,256 kms ', '94,000 kms ',
       '44,100 kms ', '1,26,000 kms ', '15,227 kms ', '87,375 kms ',
       '7,679 kms ', '48,378 kms ', '54,645 kms ', '7,211 kms ',
       '37,217 kms ', '32,372 kms ', '37,947 kms ', '51,886 kms ',
       '43,187 kms ', '33,616 kms ', '91,087 kms ', '26,372 kms ',
       '58,762 kms ', '1,01,920 kms ', '63,088 kms ', '54,123 kms ',
       '35,140 kms ', '50,842 kms ', '43,412 kms ', '46,201 kms ',
       '63,626 kms ', '18,251 kms ', '41,019 kms ', '46,463 kms ',
       '20,110 kms ', '17,364 kms ', '35,109 kms ', '44,266 kms ',
       '39,156 kms ', '57,993 kms ', '51,573 kms ', '39,000 kms ',
       '87,500 kms ', '19,900 kms ', '78,329 kms ', '61,977 kms ',
       '58,640 kms ', '40,650 kms ', '19,121 kms ', '85,893 kms ',
       '9,874 kms ', '25,202 kms ', '95,999 kms ', '49,074 kms ',
       '52,439 kms ', '10,813 kms ', '1,27,971 kms ', '1,14,108 kms ',
       '52,030 kms ', '44,721 kms ', '17,000 kms ', '52,500 kms ',
       '81,500 kms ', '22,667 kms ', '68,519 kms ', '64,011 kms ',
       '13,598 kms ', '47,037 kms ', '69,711 kms ', '49,189 kms ',
       '18,368 kms ', '16,874 kms ', '24,484 kms ', '20,688 kms ',
       '24,065 kms ', '22,609 kms ', '56,523 kms ', '48,031 kms ',
       '45,578 kms ', '70,070 kms ', '30,030 kms ', '25,000 kms ',
       '68,000 kms ', '28,648 kms ', '59,819 kms ', '19,574 kms ',
       '46,337 kms ', '73,563 kms ', '51,428 kms ', '95,754 kms ',
       '34,533 kms ', '50,154 kms ', '23,492 kms ', '37,739 kms ',
       '46,178 kms ', '42,893 kms ', '57,875 kms ', '4,832 kms ',
       '27,805 kms ', '1,40,000 kms ', '68,844 kms ', '37,070 kms ',
       '20,393 kms ', '22,244 kms ', '47,024 kms ', '64,707 kms ',
       '52,149 kms ', '11,203 kms ', '18,071 kms ', '81,412 kms ',
       '41,912 kms ', '32,516 kms ', '41,552 kms ', '21,790 kms ',
       '34,010 kms ', '50,050 kms ', '2,000 kms ', '1,25,000 kms ',
       '75,822 kms ', '28,589 kms ', '15,883 kms ', '63,648 kms ',
       '1,56,931 kms ', '13,829 kms ', '28,361 kms ', '77,960 kms ',
       '33,473 kms ', '29,052 kms ', '68,041 kms ', '61,361 kms ',
       '32,218 kms ', '28,579 kms ', '51,343 kms ', '86,868 kms ',
       '35,500 kms ', '19,942 kms ', '17,357 kms ', '14,517 kms ',
       '13,517 kms ', '42,302 kms ', '65,783 kms ', '1,38,716 kms ',
       '43,339 kms ', '19,526 kms ', '25,673 kms ', '93,304 kms ',
       '94,409 kms ', '66,799 kms ', '27,339 kms ', '9,095 kms ',
       '21,934 kms ', '51,706 kms ', '31,281 kms ', '46,312 kms ',
       '32,989 kms ', '50,599 kms ', '26,127 kms ', '58,118 kms ',
       '23,534 kms ', '58,978 kms ', '33,103 kms ', '14,600 kms ',
       '26,049 kms ', '33,895 kms ', '32,893 kms ', '61,717 kms ',
       '82,334 kms ', '87,381 kms ', '2,10,000 kms ', '24,200 kms ',
       '34,642 kms ', '1,54,104 kms ', '61,826 kms ', '44,751 kms ',
       '5,183 kms ', '1,36,082 kms ', '5,817 kms ', '99,138 kms ',
       '27,936 kms ', '39,845 kms ', '15,615 kms ', '53,158 kms ',
       '16,002 kms ', '31,133 kms ', '20,172 kms ', '69,653 kms ',
       '1,32,000 kms ', '84,000 kms ', '1,47,000 kms ', '26,023 kms ',
       '19,805 kms ', '41,365 kms ', '90,001 kms ', '45,285 kms ',
       '42,441 kms ', '24,342 kms ', '14,308 kms ', '32,456 kms ',
       '58,448 kms ', '86,576 kms ', '50,421 kms ', '26,035 kms ',
       '23,499 kms ', '25,636 kms ', '15,023 kms ', '250 kms ',
       '22,584 kms ', '22,394 kms ', '93,563 kms ', '10,537 kms ',
       '81,515 kms ', '24,676 kms ', '11,917 kms ', '69,654 kms ',
       '16,226 kms ', '8,925 kms ', '27,819 kms ', '26,543 kms ',
       '90,088 kms ', '34,258 kms ', '1,01,744 kms ', '19,830 kms ',
       '13,636 kms ', '21,393 kms ', '76,915 kms ', '16,300 kms ',
       '40,106 kms ', '66,461 kms ', '48,182 kms ', '41,816 kms ',
       '73,841 kms ', '19,908 kms ', '26,226 kms ', '43,287 kms ',
       '26,527 kms ', '37,801 kms ', '54,044 kms ', '29,632 kms ',
       '31,000 kms '], dtype=object)

# Quality 
    1)Year Column is ok
    2)Year is in int ok
    3) prie convert to int and remove the symbol
    4) kms to int and remove the kms from each value
    5) remove nan value from kms_driven
    6) fule type has some nan values remove it
    7) Keep first 3 words of name

# Cleaning

In [11]:
# store backup of the data
backup = car.copy()

In [12]:
car['Year']

0       2015
1       2016
2       2018
3       2019
4       2017
        ...
1027    2014
1028    2014
1029    2017
1030    2017
1031    2017
Name: Year, Length: 1032, dtype: int64

In [311]:
# car['Price'] = str(car['Price'])

In [13]:
car.head(5)

,Name,Price,Kms_driven,Fuel_type,Year,Company
0,Ford Figo Duratec Petrol EXI 1.2 - 2015,"₹3,80,000","35,056 kms",Petrol,2015,Ford
1,Maruti Suzuki Wagon R VXI BS IV - 2016,"₹4,65,000","44,000 kms",Petrol,2016,Maruti
2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,"₹13,50,000","42,917 kms",Petrol,2018,Hyundai
3,Hyundai Venue - 2019,"₹10,19,699","16,112 kms",Petrol,2019,Hyundai
4,Honda Jazz - 2017,"₹7,13,499","30,988 kms",Petrol,2017,Honda

In [14]:
car['Price'] = car['Price'].str.replace('₹',"")

In [15]:
car = car[car['Price'] != 'Ask For Price']

In [16]:
car[car['Price'].str.isnumeric()]

Empty DataFrame
Columns: [Name, Price, Kms_driven, Fuel_type, Year, Company]
Index: []

In [17]:
car['Price'] = car['Price'].str.replace(',',"").astype(int)

In [18]:
car['Price']

0        380000
1        465000
2       1350000
3       1019699
4        713499
         ...
1027     229000
1028     275000
1029    1750000
1030    1750000
1031    1750000
Name: Price, Length: 1026, dtype: int32

In [19]:
# remove the kms and , from each value of kms_driven 
# car['Kms_driven'] = car['Kms_driven'].str.split(' ').str.get(0).str.replace(',','')
car['Kms_driven']=car['Kms_driven'].str.split().str.get(0).str.replace(',','')

In [20]:
car[car['Kms_driven'].str.isnumeric()]

,Name,Price,Kms_driven,Fuel_type,Year,Company
0,Ford Figo Duratec Petrol EXI 1.2 - 2015,380000,35056,Petrol,2015,Ford
1,Maruti Suzuki Wagon R VXI BS IV - 2016,465000,44000,Petrol,2016,Maruti
2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,1350000,42917,Petrol,2018,Hyundai
3,Hyundai Venue - 2019,1019699,16112,Petrol,2019,Hyundai
4,Honda Jazz - 2017,713499,30988,Petrol,2017,Honda
...,...,...,...,...,...,...
1027,Hyundai i10 Magna 1.2 - 2014,229000,65000,Petrol,2014,Hyundai
1028,Maruti Suzuki Alto K10 LXi CNG - 2014,275000,60000,Petrol,2014,Maruti
1029,Jeep Compass Limited 2.0 Diesel - 2017,1750000,31000,Diesel,2017,Jeep
1030,Jeep Compass Limited 2.0 Diesel - 2017,1750000,31000,Diesel,2017,Jeep
1031,Jeep Compass Limited 2.0 Diesel - 2017,1750000,31000,Diesel,2017,Jeep

In [21]:
# keep only numeric values of kms_driven
car = car[car['Kms_driven'].str.isnumeric()]

In [22]:
# convert kms_driven col to int
car['Kms_driven'] = car['Kms_driven'].astype(int)

In [23]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026 entries, 0 to 1031
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1026 non-null   object
 1   Price       1026 non-null   int32
 2   Kms_driven  1026 non-null   int32
 3   Fuel_type   1026 non-null   object
 4   Year        1026 non-null   int64
 5   Company     1026 non-null   object
dtypes: int32(2), int64(1), object(3)
memory usage: 48.1+ KB

In [24]:
# remove the NAN values of Fuel_type rows from data
car = car[~car['Fuel_type'].isna()]

In [25]:
# Get Only First 3 words of name
car['Name'] = car['Name'].str.split(' ').str.slice(0,3).str.join(' ')

In [26]:
car  = car.reset_index(drop=True)

In [27]:
car

                      Name    Price  Kms_driven Fuel_type  Year  Company
0        Ford Figo Duratec   380000       35056    Petrol  2015     Ford
1      Maruti Suzuki Wagon   465000       44000    Petrol  2016   Maruti
2        Hyundai Creta 1.6  1350000       42917    Petrol  2018  Hyundai
3          Hyundai Venue -  1019699       16112   Petrol   2019  Hyundai
4             Honda Jazz -   713499       30988   Petrol   2017    Honda
...                    ...      ...         ...       ...   ...      ...
1021     Hyundai i10 Magna   229000       65000   Petrol   2014  Hyundai
1022    Maruti Suzuki Alto   275000       60000    Petrol  2014   Maruti
1023  Jeep Compass Limited  1750000       31000   Diesel   2017     Jeep
1024  Jeep Compass Limited  1750000       31000   Diesel   2017     Jeep
1025  Jeep Compass Limited  1750000       31000   Diesel   2017     Jeep

[1026 rows x 6 columns]

In [28]:
# Remove outliers 
car = car[car['Price'] < 7500000].reset_index(drop=True)

In [29]:
car.shape

(1025, 6)

In [30]:
# Save the cleaned data in csv file
car.to_csv('Cleaned_Car.csv')

# Model

In [31]:
# Features
X = car.drop(columns='Price')
y = car['Price']

In [32]:
X.head()

                  Name  Kms_driven Fuel_type  Year  Company
0    Ford Figo Duratec       35056    Petrol  2015     Ford
1  Maruti Suzuki Wagon       44000    Petrol  2016   Maruti
2    Hyundai Creta 1.6       42917    Petrol  2018  Hyundai
3      Hyundai Venue -       16112   Petrol   2019  Hyundai
4         Honda Jazz -       30988   Petrol   2017    Honda

In [33]:
y.head()

0     380000
1     465000
2    1350000
3    1019699
4     713499
Name: Price, dtype: int32

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=.2, random_state=42)

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1025 non-null   object
 1   Kms_driven  1025 non-null   int32
 2   Fuel_type   1025 non-null   object
 3   Year        1025 non-null   int64
 4   Company     1025 non-null   object
dtypes: int32(1), int64(1), object(3)
memory usage: 36.2+ KB

In [37]:
ohe = OneHotEncoder()
ohe.fit(X[['Name','Company','Fuel_type']])

OneHotEncoder()

In [38]:
# column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_)
# ,['Name','Company','Fuel_type']), remainder='passthrough')
column_trans=make_column_transformer((OneHotEncoder(handle_unknown='ignore', categories=ohe.categories_),['Name','Company','Fuel_type']),
                                    remainder='passthrough')

In [39]:
lr = LinearRegression()

In [40]:
pipe = make_pipeline(column_trans, lr)

In [41]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi Q3 -', 'Audi Q5 2.0', 'Audi Q7 3.0', 'Audi Q7 35',
       'BMW 3 Series', 'BMW 5 Series', 'BMW X5 xDrive30d',
       'Chevrolet Aveo -', 'Chevrolet Beat -', 'Chevrolet Beat LS',
       'Chevrolet Beat LT', 'Chevrolet Cruze LTZ', 'Chevrolet Optra -',
       'Chevrolet S...
       'Hyundai', 'Jaguar', 'Jeep', 'Kia', 'Land', 'MG', 'Mahindra',
       'Maruti', 'Mercedes', 'Nissan', 'Porsche', 'Renault', 'Skoda',
       'Ssangyong', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'], dtype=object),
                                                                            array([' CNG', ' CNG ', ' Diesel', ' Diesel ', ' Electric ', ' Hybrid ',
       ' LPG', ' Petrol', ' Petrol ', ' Petrol + CNG '], dtype=object)],
                                                                handle_unknown='ignore'),
                                                  ['Name', 'Company',
                                                   'Fuel_type'])])),
                ('linearregression', LinearRegression())])

In [42]:
pred = pipe.predict(X_test)

In [43]:
r2_score(y_test,pred)

0.5264850846003879

In [44]:
scores = []
for i in range(1000):
    X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(X_train, y_train)
    pred = pipe.predict(X_test)
    scores.append(r2_score(y_test,pred))

In [238]:
scores

[0.6657941165508021,
 0.6573994132296335,
 0.4728607895451731,
 0.6766820062536268,
 0.5225051934568805,
 0.643363815840117,
 0.6028382441483784,
 0.6677140929311864,
 0.7527707833630377,
 0.561873892783898,
 0.49946597472054544,
 0.5631525639127193,
 0.6992902747946189,
 0.7758632280926726,
 0.7997009876046691,
 0.7232736996130165,
 0.8162817421921209,
 0.5547640522333369,
 0.8108019062546635,
 0.7126441725950355,
 0.6002419037813127,
 0.6733141589819869,
 0.6763826918742992,
 0.6965627518765163,
 0.6386052950989278,
 0.592145092107863,
 0.5783436360454322,
 0.705481608281049,
 0.468794811970337,
 0.677780099325943,
 0.6292083233440564,
 0.5256802964588216,
 0.6947807550408811,
 0.7455857168277189,
 0.6150254511104676,
 0.6389481731859341,
 0.7391541557612565,
 0.5953122639529238,
 0.6973985862676575,
 0.7316577408916861,
 0.6430124775580583,
 0.5033589256992963,
 0.5264850846003879,
 0.6884394395567917,
 0.5968542464245647,
 0.477671602808891,
 0.6097322772390961,
 0.642781394526451,
 0.5738833419406504,
 0.6138160212410749,
 0.6095400987032824,
 0.7380789070056765,
 0.5017581665087474,
 0.7666626307929667,
 0.6551675017436319,
 0.6507293142877353,
 0.6413726948276435,
 0.5703528608460599,
 0.5491858403120555,
 0.5546932671238853,
 0.7467827891378999,
 0.6489505090487169,
 0.5442450580566038,
 0.5841319989747897,
 0.7271842553138066,
 0.6752338892307749,
 0.655102723046765,
 0.6799887263776525,
 0.7804543104297976,
 0.7498330049367805,
 0.6112114817007273,
 0.643964198018699,
 0.7475452929377429,
 0.6353346565386171,
 0.7288670939256902,
 0.7360263965475737,
 0.6709915705520912,
 0.6821445722780315,
 0.5370244193521835,
 0.5422772199612724,
 0.7622559487345524,
 0.6335055165185659,
 0.7431876090459615,
 0.5931844204952991,
 0.6261638315314055,
 0.7410500800867488,
 0.5346801270638095,
 0.7348374041390873,
 0.5225206025162796,
 0.5253714364756343,
 0.6543888028861241,
 0.5166577189151805,
 0.5345023351838181,
 0.7096068821555435,
 0.5657557872120595,
 0.7165107817050655,
 0.7757728287130689,
 0.7333229662615399,
 0.7443305271560434,
 0.5385621339654785,
 0.6161886443549522,
 0.6653934001230675,
 0.6201941926428453,
 0.8449445595766627,
 0.47230428260596025,
 0.688086073567167,
 0.6762002170431584,
 0.6496729269097035,
 0.6384396216482418,
 0.7264507459367178,
 0.8291795828234092,
 0.6464004657648648,
 0.6735235183510785,
 0.5489234340809948,
 0.5320718638584384,
 0.5751910760649163,
 0.6620665965637695,
 0.6973616553430619,
 0.6183093013410302,
 0.7112369901786042,
 0.6410428858816211,
 0.5381229230593982,
 0.6691996743789776,
 0.7553515129502233,
 0.6165738410640351,
 0.6099375841604782,
 0.5860043419584275,
 0.6013500785790971,
 0.6388804642890638,
 0.6133105495849935,
 0.5191900285364015,
 0.6675543217132038,
 0.5896008653883102,
 0.7883773970910681,
 0.5639260458296806,
 0.6362667078714905,
 0.6618686575125277,
 0.5331451525248163,
 0.46849530577817144,
 0.6109795145146739,
 0.6246916922701335,
 0.809030389379378,
 0.7880603732391095,
 0.7623675958274828,
 0.5561489266877957,
 0.6169615160342796,
 0.6523904837312042,
 0.7420131810092856,
 0.5761753489881685,
 0.5960290767257552,
 0.7815248871300554,
 0.5869379162859552,
 0.4350095387614231,
 0.48895464644888165,
 0.7619210454276454,
 0.8187607740696228,
 0.765199616282638,
 0.6951031618725272,
 0.5761838090888114,
 0.7103547591621167,
 0.6930668354541942,
 0.6736510474315061,
 0.5563397774316992,
 0.8018551380286693,
 0.6919315211542132,
 0.5001669485991111,
 0.7906774716246308,
 0.7606859605159357,
 0.5904634987957383,
 0.7287403995938659,
 0.5870025270104977,
 0.8152470113274807,
 0.7473038177337898,
 0.6266008876408103,
 0.7730329440733306,
 0.6931272122576816,
 0.6578527266124101,
 0.6409985869489253,
 0.6025514809066994,
 0.6185300335790773,
 0.697847853673813,
 0.534143735660152,
 0.48063910940560994,
 0.665500936090677,
 0.6765984435885146,
 0.6201748703888479,
 0.8228792527688333,
 0.7275799915873038,
 0.522379227032906,
 0.5321455272860328,
 0.5571578904025983,
 0.7275915465498317,
 0.5809944611964536,
 0.5554316655584248,
 0.7827697363668277,
 0.8196647774547097,
 0.7075044796538352,
 0.5869663138330032,
 0.619734936125602,
 0.7152948324445756,
 0.6546763358435579,
 0.5814822660794671,
 0.6238687546288699,
 0.5974074911837953,
 0.6383733158969583,
 0.702693135662583,
 0.6680915566606085,
 0.8006012839703748,
 0.6037458500483789,
 0.6083825459065079,
 0.7703017962843413,
 0.8168651496051537,
 0.6990309763386706,
 0.6988919327689755,
 0.6187082533458121,
 0.5368691882872572,
 0.7293336551426293,
 0.5821723121466229,
 0.5852118200018925,
 0.5221286908496807,
 0.5122372133208244,
 0.6344734220490154,
 0.5893281567966115,
 0.5613154788035353,
 0.5826519992570256,
 0.7101547850201037,
 0.6514616220613085,
 0.47560820285264216,
 0.5971297159795526,
 0.5271454516640268,
 0.5822818984183857,
 0.6569110954075592,
 0.6356724977055326,
 0.49244979048000315,
 0.5723995904812498,
 0.5774259325101836,
 0.637029015553978,
 0.6192434656151022,
 0.5132790484071321,
 0.7795693376830755,
 0.8265729293241966,
 0.7611217773742254,
 0.70154150330285,
 0.6462306018190526,
 0.8027126307626138,
 0.6241778856313834,
 0.5783809626638234,
 0.6412193087624196,
 0.7393309815589035,
 0.7865676719206762,
 0.7705927121562615,
 0.5940636288255603,
 0.8065736107915498,
 0.5642145619648888,
 0.5657305185766401,
 0.5879078146350935,
 0.6934289956404851,
 0.7421112064920172,
 0.5349292207652953,
 0.5634604133357805,
 0.7624784310262454,
 0.5685183038596164,
 0.7486529460001341,
 0.6034980470126166,
 0.696382321917326,
 0.6500399229949059,
 0.7754922656659468,
 0.6980016134845834,
 0.7856284391062563,
 0.6844238460563254,
 0.5771414090490679,
 0.5779640740866854,
 0.6669068565802065,
 0.5610804634463312,
 0.7400895370018927,
 0.7317181848189782,
 0.7379471818344763,
 0.8185073054407228,
 0.8463878073410286,
 0.7843002052834531,
 0.6249421216672235,
 0.6418063321405748,
 0.6159311578886053,
 0.6095877343028461,
 0.7092590517151608,
 0.5851365727205095,
 0.661028045633978,
 0.6563884010944867,
 0.5535017630185363,
 0.8180878437980541,
 0.5917558858227612,
 0.6273169410723474,
 0.775367783541166,
 0.7052758846321945,
 0.5963511742621725,
 0.7981878314443625,
 0.5407544909873836,
 0.6100305880437169,
 0.5950855548272592,
 0.5280106733467085,
 0.6761960223054182,
 0.5510461739009456,
 0.6147182271071221,
 0.6398205877603604,
 0.678775838807547,
 0.5565740083660362,
 0.6299749717734642,
 0.7034228515097352,
 0.7265602404305154,
 0.5896723453499635,
 0.5872055848139579,
 0.5741427008891302,
 0.687181148041355,
 0.6119374749787516,
 0.6297153773795001,
 0.5672271102007537,
 0.5796625984884116,
 0.5427952012921591,
 0.6075810329981872,
 0.6390953738364622,
 0.6082636852868561,
 0.6621387393080539,
 0.6673028871893856,
 0.5720792802027075,
 0.84328208609392,
 0.5814766005491379,
 0.6638967455302418,
 0.6545490593097356,
 0.6641953005371115,
 0.6342999850247206,
 0.6643365153902567,
 0.5987515671084676,
 0.5417138710976661,
 0.7191475559932247,
 0.7384332741026125,
 0.7019220502346478,
 0.6923463351870566,
 0.5739138108905276,
 0.606292660059639,
 0.6780848893518646,
 0.585755530743963,
 0.6559031349677692,
 0.608821308472197,
 0.5572985062870695,
 0.7078738908135387,
 0.5866005785702201,
 0.6621600303123127,
 0.5807083268328566,
 0.5526237627160256,
 0.7835249200536477,
 0.8427197971950771,
 0.6888924258645581,
 0.577627312837737,
 0.5967057945445589,
 0.7033563577025683,
 0.7321215675744885,
 0.6382556015557297,
 0.7815425911046713,
 0.682338758810578,
 0.6391816200000069,
 0.6766372334813675,
 0.7034437164431673,
 0.6672425936463384,
 0.8402661440538463,
 0.7546244047101012,
 0.6274549940128826,
 0.7008766574604905,
 0.7042767298792849,
 0.7009305336265986,
 0.6206151978289602,
 0.6330768398767166,
 0.5850503870299102,
 0.8663576750312153,
 0.669665443622711,
 0.7518440348889837,
 0.6443197377958068,
 0.6669028934016409,
 0.5815247714550444,
 0.7052018168624786,
 0.6111597375044716,
 0.6757619392788389,
 0.7216830794477249,
 0.5685020846202413,
 0.6301054146889039,
 0.6078629063078512,
 0.6574755601947007,
 0.8483307690928101,
 0.7111563328095394,
 0.6378688144281257,
 0.7182220722405148,
 0.6335220377785139,
 0.7989276854036101,
 0.5968690992474099,
 0.5850531399254099,
 0.8004241796021888,
 0.6521783510396528,
 0.517508356622073,
 0.7645209926181371,
 0.6486479687379504,
 0.6780880844911613,
 0.5368381955688539,
 0.6847366566201281,
 0.6742774720365138,
 0.6210876627928508,
 0.5044746211868008,
 0.6780423497641954,
 0.745438694799063,
 0.7585939241121873,
 0.7694746934246649,
 0.6683372031775938,
 0.6068482614980089,
 0.6792606347230918,
 0.713140356131765,
 0.6512334666726058,
 0.5365005551158712,
 0.49179468470208365,
 0.69113439555995,
 0.7580399325033467,
 0.6345724199341993,
 0.809527096013664,
 0.660465492611688,
 0.628012692014585,
 0.4692820364820107,
 0.5915204740248206,
 0.4887170216016252,
 0.5656351568317228,
 0.5010391620306278,
 0.6903812896793947,
 0.6619199236578635,
 0.6161914999365186,
 0.726454251009659,
 0.5133999281872421,
 0.5982308955581477,
 0.7046933963773789,
 0.6538274034019234,
 0.6890333497429125,
 0.5831772850897858,
 0.6244366932902812,
 0.6467906635280944,
 0.6203426956523139,
 0.5665833622070777,
 0.6501972613991396,
 0.5789738398351909,
 0.6899693738150958,
 0.6714537812093273,
 0.6290488608712945,
 0.6995097573272719,
 0.6301686419098523,
 0.58968404269397,
 0.6508969789015397,
 0.6682078831622491,
 0.8057624096406744,
 0.6812751719756982,
 0.5182547440413132,
 0.662652943285797,
 0.6152957272088437,
 0.7113755309391285,
 0.5007135006800232,
 0.7121271622327319,
 0.6167973011022614,
 0.674294240251036,
 0.7199625351576537,
 0.6726334284455349,
 0.6405725575925663,
 0.6445418276874795,
 0.8381902212489424,
 0.7837815718381107,
 0.6240272053315516,
 0.827259801829345,
 0.6401580946348856,
 0.6511072210087593,
 0.5925326530069794,
 0.7202745811782534,
 0.555240390538228,
 0.5416496740625432,
 0.6948500965568283,
 0.7684757287994992,
 0.7520554114992546,
 0.7095397729253985,
 0.6964740472721538,
 0.8216790917417589,
 0.6110136141229332,
 0.8286759699768442,
 0.5434656743405926,
 0.7002926082972594,
 0.5014966310596927,
 0.6352817524130352,
 0.5635901463848477,
 0.6078990562814559,
 0.8004054711383919,
 0.7421752882799255,
 0.5493420681386567,
 0.7185641088341186,
 0.6361400927109846,
 0.7236323731171539,
 0.6391076334829418,
 0.6734547756565653,
 0.6903740785747281,
 0.6472241044513851,
 0.7264128523505827,
 0.5861534816952174,
 0.7711053557351439,
 0.6669426886857805,
 0.6879618606531375,
 0.71033514533514,
 0.7928045148223337,
 0.6187046692077066,
 0.5965563523890564,
 0.7375086492624026,
 0.5653129806997887,
 0.6787027300535411,
 0.528471726218507,
 0.7348992187070205,
 0.7123428451094191,
 0.6961391153989483,
 0.7250083671970231,
 0.5173171475820639,
 0.8409286446770575,
 0.6864978304964227,
 0.5659846308786787,
 0.5430516085602546,
 0.8226642692952482,
 0.6850312725098615,
 0.5758827843967319,
 0.6478282660194732,
 0.7307394370745104,
 0.577081820110777,
 0.7906972708151229,
 0.7056081673454793,
 0.6818206218918563,
 0.7411272665491708,
 0.7683694362906325,
 0.6371541429896352,
 0.6138363552926936,
 0.6456054570902268,
 0.6167743120266147,
 0.7416572043034995,
 0.6396790068577216,
 0.6485131540133827,
 0.695844944374293,
 0.553303571368936,
 0.5436681702639747,
 0.5934732862650132,
 0.5495608749225294,
 0.6835785872104079,
 0.7215151921706796,
 0.6012135277115063,
 0.6469751029334901,
 0.8679320376640818,
 0.6725907991073437,
 0.6988920224075245,
 0.6823669567373282,
 0.6302083013068416,
 0.7648220365518409,
 0.5992259196240683,
 0.5593949593358185,
 0.6698543764894455,
 0.681950729505137,
 0.7820074342694544,
 0.574596094448457,
 0.6048515269726669,
 0.6437476455968532,
 0.5955843523276633,
 0.8323249380224494,
 0.7726041927191212,
 0.6790693287614236,
 0.5331827524414845,
 0.5976346723103523,
 0.6267896748337752,
 0.52514241435682,
 0.5068571895338276,
 0.5730630406678092,
 0.7958958313155886,
 0.7062097825268709,
 0.5231668073163036,
 0.6619275002606816,
 0.5733492590062444,
 0.5819113074921296,
 0.6809292713320697,
 0.5540939828535438,
 0.8156873785945556,
 0.5501802071195758,
 0.5797418857240952,
 0.5768374480566709,
 0.7953856094714133,
 0.6706671541842664,
 0.7178133064806627,
 0.5838500543005741,
 0.6785679964266391,
 0.7014828384629056,
 0.6602330147217905,
 0.7963321518749342,
 0.5888178790821458,
 0.7058192661157867,
 0.6305594465804275,
 0.6737984242768713,
 0.5315012334110953,
 0.6325549707524325,
 0.7405527063197614,
 0.6928966310200275,
 0.7748288683063442,
 0.6619124698537552,
 0.5054651682454919,
 0.6750311120979817,
 0.7220080380957217,
 0.6613343167755616,
 0.6587151246521109,
 0.6469984400194908,
 0.684547654354988,
 0.7371874509759061,
 0.577688867731698,
 0.5757536333532195,
 0.7224089407125719,
 0.567278971729205,
 0.5967174671366702,
 0.6192857581104291,
 0.623013899876822,
 0.6627586981643357,
 0.6115862704015744,
 0.6290713423151537,
 0.7839045791236781,
 0.7456399431431706,
 0.7280444529056125,
 0.6862437389471392,
 0.6108296788638821,
 0.6239874468890148,
 0.6894411453896305,
 0.709540423595578,
 0.543541870968538,
 0.7613130050520769,
 0.6689046531408211,
 0.5429528618706617,
 0.6009390034335512,
 0.698307311278171,
 0.6759021785102374,
 0.6934230828341117,
 0.7781688370583858,
 0.6855226099989009,
 0.6995432932840644,
 0.6859319007456659,
 0.7216500514079944,
 0.6328287652099116,
 0.593118111278315,
 0.710048182056013,
 0.7584900910950998,
 0.8543533679133949,
 0.6921318772582863,
 0.8071077127481395,
 0.703222017593029,
 0.7941577332163534,
 0.6465702686139416,
 0.8118917519975867,
 0.6404953645001739,
 0.6367653269222449,
 0.7435429925842225,
 0.6417122220254932,
 0.49768249661535713,
 0.6089421230865013,
 0.7524629064063809,
 0.7063147074526765,
 0.619156060605254,
 0.7489783087692696,
 0.5968329683592652,
 0.6948426792351097,
 0.7022529766666448,
 0.7204643559282993,
 0.7434055460877265,
 0.7487654488621835,
 0.7193680754887644,
 0.5355417101461585,
 0.5566360106241841,
 0.6992176235109049,
 0.5791632979859768,
 0.6461556870755921,
 0.7431746925363205,
 0.641791005969255,
 0.7208855128896696,
 0.6755265672483347,
 0.5440652518825957,
 0.6210497001017591,
 0.48268840410347547,
 0.6726086217816949,
 0.675148414331377,
 0.7299243733635448,
 0.5496829412058639,
 0.6495258541386077,
 0.5867462886763559,
 0.7705500151012323,
 0.7158801929492047,
 0.6003192559825377,
 0.6149862134258374,
 0.7824342452081954,
 0.6129824494292513,
 0.7643020757277459,
 0.7716511378000189,
 0.6806773456280328,
 0.65827040074301,
 0.6054770472871651,
 0.6183269521994834,
 0.6166215156098548,
 0.7815577251821247,
 0.7969283753316557,
 0.7479012396942736,
 0.4979428532077733,
 0.7627679930168063,
 0.836701376718055,
 0.708485917997449,
 0.6939389529117974,
 0.6762806933380376,
 0.5792006530986795,
 0.6298830616835214,
 0.7059735985901032,
 0.7305042348605957,
 0.6744849735676082,
 0.6474897797695658,
 0.6934558370190531,
 0.7000422376882143,
 0.664993827731462,
 0.6287727876523881,
 0.6728592508252931,
 0.654993839692507,
 0.560878748895115,
 0.7496569601029159,
 0.5830060934680854,
 0.7177872659919049,
 0.7134045153092095,
 0.613296890229592,
 0.7752829171872334,
 0.6898608818159715,
 0.746870570470133,
 0.5548018616526975,
 0.6453923895373774,
 0.8255945525066632,
 0.6270659404690213,
 0.7377057306763561,
 0.6238700933789321,
 0.5092093296230782,
 0.5748407867365901,
 0.5719672970554934,
 0.615682877481836,
 0.6117894623808733,
 0.6962769953212795,
 0.6978590327935749,
 0.686140368376032,
 0.757986617272884,
 0.7121445086436026,
 0.5381567843846549,
 0.74537567842043,
 0.7714424310967152,
 0.7062623893753296,
 0.6869834624052333,
 0.7871789212255813,
 0.7284961280651625,
 0.7057965486841732,
 0.6488419936024252,
 0.5565578725578941,
 0.6775645015971301,
 0.8393892964369432,
 0.5206361593566866,
 0.7127800169834271,
 0.6074812151929327,
 0.5239988451371159,
 0.6593362838459704,
 0.7161413593007299,
 0.5774174351822319,
 0.6611876401948515,
 0.5922079061740807,
 0.5471518353927676,
 0.586699372916232,
 0.6674264849644435,
 0.7659301152411662,
 0.6709346159521548,
 0.8148810725160358,
 0.7660709025648275,
 0.6263299760671714,
 0.49642025001381396,
 0.6519910761208147,
 0.6508551722095022,
 0.6380172094336014,
 0.5865186090475334,
 0.6030812023851654,
 0.6201604543256536,
 0.723532958199852,
 0.6968917672905282,
 0.5847799823570995,
 0.7876404840867791,
 0.7834927835164857,
 0.793366872767752,
 0.7302808691342064,
 0.795661257119138,
 0.5913666490778973,
 0.6493784876663291,
 0.7928640432144117,
 0.5906852601738615,
 0.825736490662438,
 0.7469056906258995,
 0.6012378659719213,
 0.602470414568935,
 0.6044484971397546,
 0.6422371241870402,
 0.5587015391618795,
 0.792871135590662,
 0.8265488834877601,
 0.7097545399419842,
 0.7131221441557285,
 0.5466653629705442,
 0.7558839963915188,
 0.7050744106657458,
 0.6354498109204709,
 0.6373145571820742,
 0.7772046019377088,
 0.8158663449178051,
 0.5634584409832535,
 0.7673840512150688,
 0.6687606367422493,
 0.5569335928405161,
 0.7138747511221908,
 0.7306814961427998,
 0.7836555230866015,
 0.4994335062995767,
 0.569547152835103,
 0.5334797272123226,
 0.6771680651527592,
 0.7054179035770545,
 0.585415763034537,
 0.6481932401023667,
 0.7275105424207928,
 0.6557983326861149,
 0.6842348890112708,
 0.8060464111497148,
 0.6581505545603961,
 0.6816405078466325,
 0.650053154044785,
 0.625670436150153,
 0.7617449608749322,
 0.678622999784904,
 0.6869677244674577,
 0.6219272761931558,
 0.6233862710029393,
 0.7301346569807606,
 0.6816361703762002,
 0.5912566441720433,
 0.7193315181418956,
 0.6519442882171889,
 0.721843549425834,
 0.6590990980807767,
 0.8655677865975333,
 0.6280652605557013,
 0.6031886443640802,
 0.65984303713745,
 0.6077985527485812,
 0.7939644223385611,
 0.6763884346946869,
 0.5950015785077158,
 0.6158888037011375,
 0.7222795568638193,
 0.6760944862670563,
 0.8175290542763687,
 0.5349521425642082,
 0.5723579334219404,
 0.6536675579518463,
 0.7746774170882773,
 0.6039664602082511,
 0.6687701514254343,
 0.6299431219754174,
 0.6927058805148766,
 0.7505875055432254,
 0.6435451947393248,
 0.5802458362720713,
 0.78469050570647,
 0.5877065722441008,
 0.5836114908686885,
 0.7379190752885069,
 0.7011393971979827,
 0.6792419207219444,
 0.554760442339635,
 0.6322683264258943,
 0.6538667227523246,
 0.737593112547252,
 0.7259042746784985,
 0.5420624597780486,
 0.6276438446270849,
 0.6209609865956971,
 0.5150536003552613,
 0.6593715527104869,
 0.6664685151376244,
 0.4777826401051083,
 0.7049981834792173,
 0.8039866530496772,
 0.6196140202269529,
 0.5833681844741321,
 0.5351024712963596,
 0.6962582461610902,
 0.7515517110938554,
 0.6786575938503756,
 0.7976482356233591,
 0.7462436867994158,
 0.6315230710162334,
 0.632512713294271,
 0.6078977336415147,
 0.604093853214868,
 0.6714520010208943,
 0.5665258803298562,
 0.5286929754435825,
 0.6512824610428035,
 0.5654981424446566,
 0.7049444665836744,
 0.7190236696833919,
 0.5715130364995317,
 0.7597085241682803,
 0.6103119454935735,
 0.7156848247860224,
 0.6236946889789072,
 0.725211703453926,
 0.6153544576472063,
 0.6601085466255041,
 0.5993268569088126,
 0.5641792775334724,
 0.5053835648486474,
 0.6878110017746097,
 0.5144675428818088,
 0.6910223483406857,
 0.6178316292140897,
 0.7485215402934486,
 0.7001348950136177,
 0.5529342779272597,
 0.5807145925456452,
 0.7495431177405327,
 0.6805422467632387,
 0.7286242955758124,
 0.5822891489016386,
 0.59203133495221,
 0.595149251496911,
 0.8088849375830669,
 0.578633349050337,
 0.7827949147476337,
 0.6904527337238335,
 0.7105629259862511,
 0.6526307969425769,
 0.6370075668143304,
 0.6540844666156052,
 0.7223292759716745,
 0.6395078952687927,
 0.5645885635487902,
 0.7896120357666223,
 0.5159857616465451,
 0.6633116780991558,
 0.6209389482623033,
 0.7089758536898239,
 0.5899396729928883,
 0.8180788581563586,
 0.5423037185780177,
 0.5164151596389888,
 0.6517570515667946,
 0.4717943785238905,
 0.5717513695346241,
 0.7473481042342132,

In [45]:
np.argmax(scores)

548

In [46]:
scores[np.argmax(scores)]

0.8679320376640818

In [47]:
X_train,X_test, y_train,y_test = train_test_split(X,y, test_size=.2, random_state=np.argmax(scores))
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(X_train, y_train)
pred = pipe.predict(X_test)
r2_score(y_test, pred)

0.8679320376640818

In [48]:
import pickle
pickle.dump(pipe, open('LinearRegressionModel.pkl','wb'))

In [49]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1025 non-null   object
 1   Kms_driven  1025 non-null   int32
 2   Fuel_type   1025 non-null   object
 3   Year        1025 non-null   int64
 4   Company     1025 non-null   object
dtypes: int32(1), int64(1), object(3)
memory usage: 36.2+ KB

In [50]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['Name','Company','Year','Kms_driven','Fuel_type']))

array([803747.85462829])